<%- include('./../partials/header') %>

<main>
    <div class="container">
        <div class="row  d-flex justify-content-center">
            <h2 class="col-12 fs-1  my-4 mb-lg-6 text-light text-center">Agregar Actuación</h2>
            <div class="col-12 col-md-8 col-lg-6 my-4">
                <% if( typeof errors == 'undefined' ) { %> 
                    <form action="/actors/addActor" method="POST" class="mb-4">
                        <div class="row">
                            <div class="col-12 col-md-6 mb-4 mb-md-0">
                                <select name="actor" class="form-select" aria-label="Default select example">
                                    <option selected>Actor</option>
                                    <% for( let i = 0; i < actors.length; i++) { %>
                                        <option value="<%= actors[i].id %>"><%= actors[i].first_name %> <%= actors[i].last_name %></option>
                                    <% } %>
                                </select>
                            </div>
                            <div class="col-12 col-md-6">
                                <select name="movie" class="form-select" aria-label="Default select example">
                                    <option selected>Película</option>
                                    <% for( let i = 0; i < movies.length; i++) { %>
                                        <option value="<%= movies[i].id %>"><%= movies[i].title %></option>
                                    <% } %>
                                </select>
                            </div>
                        </div>
                        <div class="m-auto w-50 my-5">
                            <button type="submit" class="btn btn-danger w-100">Guardar</button>
                        </div>
                    </form>    
                <% } else { %>
                    <form action="/actors/addActor" method="POST" class="mb-4">
                        <div class="row">
                            <div class="col-12 col-md-6 mb-4 mb-md-0">
                                <% if( errors.actor ) { %>
                                    <select name="actor" class="form-select is-invalid" aria-label="Default select example">
                                        <option selected>Actor</option>
                                        <% for( let i = 0; i < actors.length; i++) { %>
                                            <option value="<%= actors[i].id %>"><%= actors[i].first_name %><%= actors[i].last_name %></option>
                                        <% } %>
                                    </select>
                                    <div class="invalid-feedback"><%= errors.actor.msg %></div>
                                <% } else { %>
                                    <select name="actor" class="form-select is-valid" aria-label="Default select example" required>
                                        <option selected>Actor</option>
                                        <% for( let i = 0; i < actors.length; i++) { %>
                                            <option value="<%= actors[i].id %>"><%= actors[i].first_name %><%= actors[i].last_name %></option>
                                        <% } %>
                                    </select>
                                    <div class="valid-feedback">Genial!</div>
                                <% } %>
                            </div>
                            <div class="col-12 col-md-6">
                                <% if( errors.movie ) { %>
                                    <select name="movie" class="form-select is-invalid" aria-label="Default select example">
                                        <option selected>Película</option>
                                        <% for( let i = 0; i < movies.length; i++) { %>
                                            <option value="<%= movies[i].id %>"><%= movies[i].title %></option>
                                        <% } %>
                                    </select>
                                    <div class="invalid-feedback"><%= errors.movie.msg %></div>
                                <% } else { %>
                                    <select name="movie" class="form-select is-valid" aria-label="Default select example" required>
                                        <option selected>Película</option>
                                        <% for( let i = 0; i < movies.length; i++) { %>
                                            <option value="<%= movies[i].id %>"><%= movies[i].title %></option>
                                        <% } %>
                                    </select>
                                    <div class="valid-feedback">Genial!</div>
                                <% } %>
                            </div>
                        </div>
                        <div class="m-auto w-50 my-5">
                            <button type="submit" class="btn btn-danger w-100">Guardar</button>
                        </div>
                    </form>
                <% } %> 
            </div>
        </div>
    </div>
</main>

<%- include('./../partials/footer') %>