<%- include('./../partials/header') %>

<main>
    <div class="container">
        <h2 class="fs-1  my-4 mb-lg-6 text-light">Todas Tus Películas</h1>
        <div class="d-flex justify-content-between">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb fs-4">
                    <li class="breadcrumb-item"><a href="/" class="text-decoration-none text-danger">Inicio</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Películas</li>
                </ol>
            </nav>
            <div class="dropdown">
                <button type="button" class="btn btn-dark me-2"><a href="/movies/create" class="text-decoration-none text-light"><i class="fas fa-plus"></i></a></button>
                <button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                    Ordenar
                </button>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                    <li><a class="dropdown-item" href="?order=title">Nombre</a></li>
                    <li><a class="dropdown-item" href="?order=rating">Rating</a></li>
                    <li><a class="dropdown-item" href="?order=release_date">Año</a></li>
                    <li><a class="dropdown-item" href="?order=length">Duración</a></li>
                </ul>
            </div>
        </div>
        <section class="mt-5">
            <div class="row gy-1">
                <% for( movie of movies ) { %>
                    <div class="col-6 col-sm-3 col-lg-2">
                        <article class="card bg-transparent border-0">
                            <a href="/movies/detail/<%= movie.id %>" class="text-decoration-none">
                                <div class="position-relative">
                                    <img src="/images/img-movie.jpg" alt="Foto película" class="card-img-top rounded image-movie">
                                    <p class="position-absolute top-0 end-0 px-1 bg-danger rounded text-light"><%= movie.release_date.getFullYear() %></p>
                                </div>
                                <div class="card-body text-center px-0">
                                    <h5 class="card-title text-light"><%= movie.title %></p>
                                </div>
                            </a>
                        </article>
                    </div>
                <% } %>
            </div>
        </section>
        <nav aria-label="Page navigation">
            <ul class="pagination d-flex justify-content-center fs-4">
                <% if( page > 1 ) { %>
                    <li class="page-item px-2">
                        <a class="page-link bg-transparent text-danger border-0" href="/movies/<%= page - 1 %>" aria-label="Previous">
                            <span aria-hidden="true">&laquo</span>
                        </a>
                    </li>
                <% } else { %>
                    <li class="page-item disabled px-2">
                        <a class="page-link bg-transparent text-secondary border-0" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo</span>
                        </a>
                    </li>
                <% } %>
                <% for(let i = 1; i <= pages; i++ ) { %>
                    <% if( i != page ) { %>
                        <li class="page-item px-2"><a class="page-link bg-transparent   text-danger border-0" href="/movies/<%= i %>"><%= i %></a></li>
                    <% } else { %>
                        <li class="page-item disabled px-2"><a class="page-link bg-transparent text-secondary border-0" href="/movies/<%= i %>"><%= i %></a></li>
                    <% } %> 
                <% } %>
                <% if( page != pages ) { %>
                    <li class="page-item px-2">
                        <a class="page-link bg-transparent text-danger border-0" href="/movies/<%= page + 1 %>" aria-label="Next">
                            <span aria-hidden="true">&raquo</span>
                        </a>
                    </li>
                <% } else if( page == undefined || page == pages ) { %>
                    <li class="page-item disabled px-2">
                        <a class="page-link bg-transparent text-secondary border-0" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo</span>
                        </a>
                    </li>
                <% } %>
            </ul>
        </nav>
    </div>
</main>

<%- include('./../partials/footer') %>