<head>
	<link rel="stylesheet" href="/css/index.css">

	<%- include('./../partials/head') %> 

</head>
<body>
    
	<%- include('./../partials/header') %> 

    <main class="container">
		<h2>Productos</h2>
		<div class="products row">
			<% for( let product of products ) { %>
                <div class="col-md-6 col-lg-3">
                    <a href="/products/detail/<%= product.id %>/<%= product.category %>">
                        <div class="product">
                            <div class="product-img">
                                <img src="/images/products/<%= product.image %>" alt="product <%= product.name %>">
                            </div>
                            <div class="product-icon-truck">
                                <i class="fas fa-truck"></i>
                            </div>
                            <div class="product-price">
                                <% if (product.discount > 0) { %>
                                    <p class="product-money">$<%= (product.price*(100-product.discount))/100 %></p>
                                    <p class="product-offer"><%= product.discount %>% OFF</p>
                                <% } else { %>
                                    <p class="product-money">$<%= product.price %> </p>
                                <% } %>  
                            </div>
                        </div>
                    </a>
                </div>
			<% } %>
		</div>
	</main>

    <script type="text/javascript" src="/js/customFunctions.js"></script>

	<%- include('./../partials/footer') %> 

</body>